body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to left,#F5EEF8,#FEECE2); 
}
.container{
    margin: 10px auto;
    /* border: 1px solid black; */
    background-color: white;
}
.inline-h1 {
    display: inline-block;
}
.drop{
    margin-top: 20px;
}
#dropdownMenuButton1{
    background-color: white;
    color: black;
    box-shadow: 4px 4px 4px #84F9E2  ;
    font-size: 18px;
}
.calls{
    margin-top: 10px;
    /* margin-left: 10px; */
}
#dropdownMenuButton1:hover{
background-color: #FCF3CF;
}
/* END OF HEADER DESIGN */

form{
    width: 900px;
    border: 1px solid gray;
    border-radius: 10px;
    border-top: 0;
    box-shadow: 4px 4px 4px gray;
    margin-left: 100px;
}
.tables h2{
    margin-top: 40px;
    margin-left: 150px;
    color: #1a7c69;
}
label{
margin-left: 20px;
margin-top: 20px;
font-size: 20px;
}
input
{
    width: 250px;
    font-size: 20px;
    border: 1px solid #45B39D;
    border-radius: 10px;
    padding-left: 10px;
}
input:hover{
    background-color: #D4E6F1 ;
    border-color: blueviolet;
}
.problem{
    border: 1px solid #45B39D;
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 10px;
}
#special{
    width: 250px;
    min-height: 35px;
    font-size: 20px;
    border: 1px solid #45B39D;
    border-radius: 10px;
    padding-left: 10px;
    background: transparent;
    cursor: pointer;
}
#special:hover{
    background-color: #D4E6F1 ;
    border-color: blueviolet;
}
#time{
    width: 250px;
    min-height: 35px;
    font-size: 20px;
    border: 1px solid #45B39D;
    border-radius: 10px;
    padding-left: 10px;
    background: transparent;
    cursor: pointer;
}
#time:hover{
    background-color: #D4E6F1 ;
    border-color: blueviolet;
}
input[type=submit]
{
    margin-left: 100px;
    width: 100px;
    min-height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #9AFA17 ;
}
input[type=submit]:hover{
    background-color: #5DADE2 ;
}

input[type=reset]
{
    margin-left: 70px;
    width: 100px;
    min-height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #9AFA17 ;
}
input[type=reset]:hover{
    background-color: #5DADE2 ;
   
}

