body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to left,#F5EEF8,#FEECE2); 
}
.container{
    margin: 10px auto;
    /* border: 1px solid black; */
    background-color: white;
}
.inline-h1 {
    display: inline-block;
}
.drop{
    margin-top: 20px;
}
#dropdownMenuButton1{
    background-color: white;
    color: black;
    box-shadow: 4px 4px 4px #84F9E2  ;
    font-size: 18px;
}
.calls{
    margin-top: 10px;
    /* margin-left: 10px; */
}

/* END OF HEADER DESIGN */
.table{
    margin-top: 20px;
    background-image: url('http://127.0.0.1:5500/images/treatment-side-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}